@import 'font-awesome/less/font-awesome.less';
@fa-font-path: '/bower_components/font-awesome/fonts';

/* Import fonts*/
@import '../assets/fonts/fonts.less';

/* Reset.css */
@import 'reset.less';

/* Grid system */
@import 'grid.less';

/**
 * App-wide Styles
 */

@orange-color: #F6921E;
@black-color: #212120;
@gray-color: #737373;
@lgray-color: #E5E5E5;

.bold{
  font-family: 'TruthCYR-Bold';
}


@import 'header_directive/header_directive.less';
@import 'timer_directive/timer_directive.less';
@import 'main/main.less';