.main-block-container{
  background: url(../../assets/images/intro-bg.jpg) center 0 no-repeat;
  border-bottom: 5px solid @orange-color;

  .main-block-info{
    color: #fff;

    span{
      .bold;
      font-size: 24px;
    }
  }

  form{
    border: 2px solid @orange-color;
    height: 234px;
  }

  .main-block-timer-title{
    .bold;
    color: @orange-color;
    font-size: 24px;
    text-align: center;
  }
}